body{
    background-color: hsl(218, 23%, 16%);
    font-family: 'Bree Serif', serif;
}
.attribution{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top:5%;
}
.Card{
    background-color: hsl(217, 19%, 24%);
    width: 40%;
    border-radius: 0.5em;
    box-shadow: 2px 2px #000;
    
}
.Text{
    color:hsl(150, 100%, 66%);
    font-size:20px;
    letter-spacing: 0.5vw;
}
#AdviceDiv{
    color:white;
    font-size:28px;
    padding: 10%;
    margin-bottom: 10%;
}
#imageHr{
    margin-bottom: 10%;
    max-width: 100%;
}
#Generatebutton{
    padding: 1vw;
    background-color: hsl(150, 100%, 66%);
    border-radius: 60%;
    border: 0;
    display: flex;
    margin-left: 47%;
    cursor:pointer;
    position: relative;
    top:5%;
}
#Generatebutton:hover{
    filter: brightness(200%);
}
@media only screen and (max-width: 375px) {
    .Card{
        height: 100%;
        width:100%;
        box-sizing: border-box;
    }
    #Generatebutton{
        padding: 3vw;
        position: relative;
        top:15%;
    }
    #AdviceText{
        font-size:5vw;
    }
  }